.home-container {
  display: flex;
  justify-content: center;
  margin: 0 15%;

  .posts-container {
    display: flex;
    width: 50%;
    flex: 1;
    padding: 1rem;
    background-color: #61dafb;
  }

  .post-form-container {
    display: flex;
    flex: 1;
    padding: 1rem;
    background-color: bisque;
  }
}
